html {
    max-width: 1200px;
    font-size: 16px;
    height: 100%;
    margin: 0 auto;
    background: #666;
}

body {
    width: 100%;
    margin: 0 auto;
    background: #666;
}

.create-card {
    width: 90%;
    font-size: 12pt;
}

header {
    clear: both;
	margin-bottom: 0px;
}

#not_found {
    text-align: center;
    padding-top: 10%;
}

#update-section {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#avatar {
    height: 30px;
    width: 30px;
    background: white;
    margin-right: 10px;
}

table {
    width: 60%;
    table-layout: fixed;
}

.edit-data input, textarea {
    width: 100%;
}

input {
    border-radius: 5px;
    text-align: center;
}

.ui-autocomplete-input {
    text-align: left;
    width: 10px;
}

ul .tagit {
    width: 90%;
}

ul.tagit input[type="text"] {
    width: 10px;
}

.tagit-field {
    width: 10px;
}

td {
   padding: 10px;
   width: 50%;
   font-size: 12pt;
   color: #222;
   vertical-align: top;
}

a {
    text-decoration: none;
    color: #999;
    cursor: pointer;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

hr {
    color: #222;
    background-color: #999;
    height: 2px;
}

.user-account {
    color:#999;
}

#user-profile {
    width: 70%;
    background: #222;
    color: #999;
	border-radius: 4px;
    padding: 15px;
    margin: auto;
}

#end-of-profile {
    font-weight: bold;
    width: 75%;
    margin-top: 20px;
    margin: auto;
    color: #222;
}

#filter {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: #222;
    font-size: 12pt;
}

.filter {
    width: 75%;
    height: 30px;
    background-color: #CCC;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #BBB;
    text-align: center;
}

#filter-by {
    text-align: center;
    width: 100%;
    color: #CCC;
    font-size: 12pt;
    position: relative;
}

.card-tag {
    background-color: #000;
	float: left;
    height: 20px;
}

#card-tags {
	width: 100%;
	height: 20px;
	top: 0;
	position: absolute;
	left: 0;
    overflow: hidden;
    background-color: #000;
}

#card-author {
    width: 100%;
    height: 25px;
    top: 20px;
    padding-top: 5px;
    padding-left: 5px;
    position: absolute;
    left: 0;
    font-size: 12pt;
    overflow: hidden;
}

#car-auth {
    text-decoration: none;
    color: #222;
}

#card-content {
	width: 100%;
    height: 73%;
	left: 0;
	position: absolute;
	margin-top: 30px;
	margin-bottom: 30px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
	font-size: 12pt;
    line-height: 110%;
    overflow: hidden;
}

#card-category {
	height: 25px;
	bottom: 0;
	position: absolute;
	right: 0;
	padding-right: 5px;
	padding-bottom: 5px;
	font-size: 12pt;
}

.card {
    background: #fff;
    padding: 10px;
    margin: 15px;
    border-radius: 7px;
    width: 240px;
    height: 360px;
    overflow: hidden;
    color: #333;
}

.inspect {
    background: #fff;
    padding: 15px;
    margin: 15px;
    border-radius: 7px;
    width: 85%;
    height: 400px;
    overflow: hidden;
}

#inspect-header {
    width: 100%;
    height: 40px;
    top: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 0;
    font-size: 12pt;
    overflow: hidden;
}

#ins-auth {
    text-decoration: none;
    color: #222;
}

#inspect-content {
	width: 100%;
    height: 146px;
    top: 60px;
	left: 0;
	position: absolute;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
	font-size: 12pt;
    line-height: 110%;
    overflow-y: scroll;
}

#inspect-footer {
    width: 100%;
    height: 44px;
    left: 0;
    position: absolute;
    bottom: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    background-color: #222;
    vertical-align: middle;
    display: table-cell;
}

.inspect-footer-elem {
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    display: inline;
    text-align: center;
    font-size: 12pt;
    color: #fff;
}

#inspect-comment {
    width: 100%;
    left: 0;
    height: 150px;
    position: absolute;
    bottom: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #222;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#inspect-comment-list {
    width: 100%;
    height: 112px;
    left: 0;
    float: left;
    bottom: 50px;
    overflow-y: scroll;
}

#inspect-comment-create {
    width: 100%;
    height: 36px;
    bottom: 0px;
}

#post-comment {
    width: 10%;
    float: left;
}

#create-comment {
    width: 90%;
    float: left;
    text-align: left;
}

.card-comment {
    background-color: #6AD66A;
    border-radius: 3px;
    width: 90%;
    padding: 10px;
    margin: 10px 5px;
    left: 20px;
    font-size: 12pt;
}

#flip-return {
    float: right;
}

.card.small { 
    width: 160px;
    height: 240px;
}

.card.medium { 
    width: 200px;
    height: 300px;
}

.card.large {
    width: 240px;
    height: 360px;
}

.clear {
    clear: both;
}

#sb-site {
	overflow-y: scroll;
}

#slidebar-right {
	padding-bottom: 51px;
}

#container {
    margin-top: 50px;
    padding-top: 50px;
}

#logout {
	text-decoration: none;
}

#deku-icon a {
    cursor: pointer;
}

.info {
	color: #999;
	size: 16pt;
	margin-right: 10px;
}

.navbar {
  width: 100%;
}

.navbar #toggle-bars {
  width: 58px;
  padding: 14px;
}

.navicon-line {
  width: 24px;
  height: 4px;
  border-radius: 1px;
  margin-bottom: 3px;
  background-color: #fff;
}

#collapsed-list {
	width:100%;
	float: left;
	padding: 0px;
}

.col-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	cursor: pointer;
	font-size: 11pt;
	color: #000;
    cursor: default;
}

.list-item-collapse {
	padding: 0px;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 10px;
	font-size: 12pt;
	color: #fff;
	margin-top: 0px;
	border-top: 2px solid;
	border-color: #333;
    cursor: pointer;
}

#collapsed-list .collapsed {

}

#collapsed-list .expanded {

}

@media screen and (max-width: 719px) {
    .post.w1 { width: 60px; }
    .post.w2 { width: 120px; }
    .post.w3 { width: 180px; }

    .post.h1 { height: 60px; }
    .post.h2 { height: 120px; }
    .post.h3 { height: 180px; }
}
