.pies {
    background-color: #123456 !important;
}

.breezeway {
    background-color: #789ABC !important;
}

.fire {
    background-color: #FF0000 !important;
}

.commons {
    background-color: #0000FF !important;
}

.parking {
    background-color: #0F00F0 !important;
}

.aciv {
    background-color: #444554 !important;
}

.science {
    background-color: #393939 !important;
}

.quad {
    background-color: #00FF00 !important;
}

.erickson {
    background-color: #FF00FF !important;
}

.squirrels {
    background-color: #121212 !important;
}

.rac {
    background-color: #6A6A6A !important;
}

.deku {
    background-color: #009900 !important;
}

.umbc {
    background-color: #FFD700 !important;
}
