.pies {
    background-color: #123456;
}

.breezeway {
    background-color: #789ABC;
}

.fire {
    background-color: #FF0000;
}

.commons {
    background-color: #0000FF;
}

.parking {
    background-color: #0F00F0;
}

.aciv {
    background-color: #444554;
}

.science {
    background-color: #393939;
}

.quad {
    background-color: #00FF00;
}

.erickson {
    background-color: #FF00FF;
}

.squirrels {
    background-color: #121212;
}

.rac {
    background-color: #6A6A6A;
}

.deku {
    background-color: #009900;
}

.umbc {
    background-color: #FFD700;
}
