<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>dek&#363;</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/tags.css">
	<link rel="stylesheet" href="css/slidebars.min.css">
</head>
<body>
  <div id="main">
    <header class="navbar navbar-inverse navbar-fixed-top sb-slide" role="navigation">
        <div class="sb-toggle-right navbar-right">
          <div class="navicon-line"></div>
          <div class="navicon-line"></div>
          <div class="navicon-line"></div>
        </div>
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">dek&#363;</a>
          </div>
          <div class="navbar-right">
            <!-- Have login form in the header. If user is logged in, show some account
            info instead. -->
            <form class="navbar-form navbar-right" role="form" method="post" action="login">
            </form>
          </div>
      </div>
    </header>

    <!-- This is the region that holds the cards. Main content shown here -->
    <div id="sb-site">
      <div id="container" class="container flipbox-container">
      </div>
    </div>
    <!-- this needs to infinite scroll, so having a footer is stupid. Looking at
    you, Tumblr! -->

    <!-- Location of the right slidebar. Overlayed for clean look, no pushing -->
    <div id="slidebar-right" class="sb-slidebar sb-right sb-style-overlay">
      <!-- This is a collapsable menu that contains all the options a user can do -->
      <div id="menu">
        <ul id="collapsed-list">
          <li id="default">Create Card
            <ul>
              <div id="card">
              </div>
            </ul>
          </li>
          <li>Search
            <ul>
              <div id="search">
              </div>
            </ul>
          </li>
          <li>Messages
            <ul>
              <div id="messages">
              </div>
            </ul>
          </li>
          <li>Notifications
            <ul>
              <div id="notifications">
              </div>
            </ul>
          </li>
          <li>My Account
            <ul>
              <div id="my-account">
              </div>
            </ul>
          </li>
          <li>My Preferences
            <ul>
              <div id="my-preferences">
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Templates -->

  <script type="text/template" id="login_header">
    <span class="info">Already have an account?</span>
    <span class="info"><button id="login-button" class="btn btn-success">Login</button></span>
  </script>

  <script type="text/template" id="logout_header">
    <span class="info">Hello, <%= firstName || "User" %></span>
    <span class="info"><a id="logout" class="btn btn-success">Logout</a></span>
  </script>


	<!-- This template handles the first stage of creating and account -->
  <script type="text/template" id="create-form">
    <h1>Create account</h1>
    <form role="form" action="" id="create">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" class="form-control">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="university">University</label>
        <input id="univ" list="university" class="form-control">
        <datalist id="university">
          <option value="UMBC">
        </datalist>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Sign up for Dek&#363</button>
    </form>
  </script>

	<!-- This next view gets more specific user account information -->
  <script type="text/template" id="info-form">
    <h1>Complete your Profile</h1>
    <form role="form" action="" id="info">
    <div class="form-group">
      <label for="year">Graduation Year</label>
      <input list="year" id="grad-year" class="form-control">
      <datalist id="year">
        <option value="2014">
        <option value="2015">
        <option value="2016">
      </datalist>
    </div>

    <div class="form-group">
      <label for="major">Major</label>
      <input list="major" id="major-list" class="form-control">
      <datalist id="major">
        <option value="Computer Science">
        <option value="Computer Engineering">
        <option value="Economics">
        <option value="Mathematics">
      </datalist>
    </div>

    <div class="form-group">
      <label for="classes">Classes</label>
      <input type="text" id="classes" class="form-control">
    </div>

    <div class="form-group">
      <label for="bio">Biography</label>
      <textarea id="bio" class="form-control"></textarea>
    </div>
	
		<!-- At this point the user's profile would be sent to the server and saved -->
    <button id="submit" class="btn btn-success">Done</button>
  </script>

  <!-- This will let the user login. This is defaulted after the account is created -->
	<script type="text/template" id="login-form">
		<h1>Login</h1>
		<form role="form" action="login" method="post" id="login">
			<div class="form-group">
				<label for="lemail">E-mail</label>
				<input type="text" name='username' id="lemail" class="form-control">
			</div>
			<div class="form-group">
				<label for="lpassword">Password</label>
				<input type="password" name='password' id="lpassword" class="form-control">
			</div>
			<!-- this button should send the username/password to the server for authentication -->
			<button type="submit" class="btn btn-success" id="login-button">Login</button>

			<!-- This lets the user reset their password -->
			<button type="reset" class="btn btn-success" id="reset-pass">Forgot your password?</button>
		</form>
	</script>

	<!-- this view handles password reseting -->
	<script type="text/template" id="password-reset-form">
		<h1>Reset my password</h1>
		<form role="form" action="" id="password-reset">
			<div class="form-group">
				<label for="remail">Enter your e-mail</label>
				<input type="text" id="remail" class="form-control">
			</div>
			<button type="submit" class="btn btn-success">Send me my new password</button>
		</form>
	</script>


  <!-- This view contains the layout for the card -->
  <script type="text/template" id="card-template">
    <!-- due to floating point numbers being weird, set the background of container to last tag -->
		<div id="card-tags" class="<%=tags[tags.length-1]%>">
      <% for (var tag in tags) { %>
        <div class="card-tag <%=tags[tag]%>" style="width: <%=100.0/tags.length%>%"></div>
      <% } %>
    </div>
		<div id="card-content"><%= content %></div>
    <div id="card-category"><%= category %></div>
  </script>


  <!-- This view will inspect the card, more details -->
  <script type="text/template" id="inspect-template">
    <div id="inspect-tags">
      <% for (var tag in tags) { %>
        <div class="card-tag"><%= tags[tag] %></div>
      <% } %>
    </div>
    <div id="inspect-author"><%= author %></div>
    <div id="inspect-time"><%= post_time %></div>
    <div id="inspect-date"><%= post_date %></div>
    <div id="inspect-content"><%= content %></div>
    <div id="inspect-category"><%= category %></div>
    <div id="inspect-marks"><%= marks %></div>
    <div id="inspect-adds"><%= adds %></div>
    <div id="inspect-comments"><%= comments %></div>
    <div id="inspect-popularity"><%= popularity %></div>
  </script>

 
  <!-- This view contains data about search criteria -->

  <script type="text/template" id="filter-view">
    <div id="filter-by"><%= filter %></div>
  </script>

	<!-- This view handles the hand view -->

	<script type="text/template" id="hand-view">
	</script>

	<!-- This vew handles viewing another user's profile -->



	<!-- This view handles inspecting a card -->



	<!-- This is the view for creating a card -->
	<script type="text/template" id="card-create-view">
		<form class="card-form" role="form" action="#">
			<div class="form-group">
				<input list="categories" id="category" class="form-control" placeholder="Select a category">
				<datalist id="categories">
					<option value="Administrative">
					<option value="Club">
					<option value="School Event">
					<option value="other">
				</datalist>
			</div>
			<div class="form-group">
				<input type="text" id="tags" placeholder="Enter tags">
			</div>
			<div class="form-group">
				<textarea id="content" name="card" rows="5" cols="30" placeholder="Share with your university"></textarea>
			</div>
  		<button id="add" class="btn">Add new posts</button>
		</form>
	</script>

	<!-- This is the view for search options -->
	<script type="text/template" id="search-view">
		<form class="search-form" role="form" action="#">
			<div class="form-group">
				<input type="text" id="s-tag" name="search-tags" placeholder="Search by tags">
        <button id="search-tag" class="btn">Search</button>
			</div>
			<div class="form-group">
				<input type="text" id="s-author" name="search-author" placeholder="Search by author">
        <button id="search-author" class="btn">Search</button>
			</div>
			<div class="form-group">
				<input type="text" id="s-category" name="search-category" placeholder="Search by category">
        <button id="search-category" class="btn">Search</button>
			</div>
      <div class="form-group">
        <button id="search-clear" class="btn">Clear Search</button><div id="filter"></div>
      </div>
		</form>
	</script>

	<!-- This is the view for messages -->
	<script type="text/template" id="message-view">
		<p>User will be able to see messages here</p>
	</script>

	<!-- This is the view for notifications -->
	<script type="text/template" id="notification-view">
		<p>User will be able to see notifications here</p>
	</script>

	<!-- This is the view for my account -->
	<script type="text/template" id="account-view">
		<p>User will be able to see their account from here</p>
	</script>

	<!-- This is the view for preferences -->
	<script type="text/template" id="preferences-view">
		<p>User will be able to see their preferences</p>
	</script>

  <!-- Script declarations at base of page so everything else loads first. -->
  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/lib/masonry.pkgd.min.js"></script>
	<script src="js/lib/slidebars.min.js"></script>
  <script src="js/lib/jquery.flippy.min.js"></script>
	<script src="js/views/create_view.js"></script>
	<script src="js/views/info_view.js"></script>
	<script src="js/views/login_view.js"></script>
	<script src="js/views/password_reset_view.js"></script>
	<script src="js/views/hand_view.js"></script>
	<script src="js/views/create_card_view.js"></script>
	<script src="js/views/search_view.js"></script>
	<script src="js/views/message_view.js"></script>
	<script src="js/views/notification_view.js"></script>
  <script src="js/views/account_view.js"></script>
  <script src="js/views/header_view.js"></script>
  <script src="js/views/preferences_view.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/views/filter_view.js"></script>
  <script src="js/models/user.js"></script>
  <script src="js/models/card.js"></script>
  <script src="js/models/filter.js"></script>
  <script src="js/collections/deck.js"></script>
  <script src="js/views/card_view.js"></script>
	<script src="js/events/event_bus.js"></script>
	<script src="js/app.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

	<!-- These jQuery calls will activate the slidebars and the collapsable menu -->
	<script>
		(function($) {
		 $(document).ready(function() {
			 collapse();
			 $("#default").toggleClass("expanded")
			 .children('ul').toggle('medium');
			 });
		 }) (jQuery);
	</script>

  </body>
</html>
