<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>dek&#363;</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/tags.css">
	<link rel="stylesheet" href="css/slidebars.min.css">
  <link rel="stylesheet" href="css/jquery.tagit.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body>
  <div id="main">
    <header class="navbar navbar-inverse navbar-fixed-top sb-slide" role="navigation">
      <div id="toggle-bars" class="navbar-right">
      </div>
      <div class="container">
        <div class="navbar-header" id="deku-icon">
        </div>
        <div class="navbar-right">
          <!-- Have login form in the header. If user is logged in, show some account
          info instead. -->
          <form class="navbar-form navbar-right" role="form" method="post" action="login">
          </form>
        </div>
      </div>
    </header>

    <!-- This is the region that holds the cards. Main content shown here -->
    <div id="sb-site">
      <div id="container" class="container flipbox-container">
      </div>
    </div>
    <!-- this needs to infinite scroll, so having a footer is stupid. Looking at
    you, Tumblr! -->

    <!-- Location of the right slidebar. Overlayed for clean look, no pushing -->
    <div id="slidebar-right" class="sb-slidebar sb-right sb-style-overlay">
    </div>
  </div>

  <!-- Templates -->

  <script type="text/template" id="test_view">
    <p>This is a test</p>
  </script>

  <script type="text/template" id="icon-view">
    <a class="navbar-brand">dek&#363;</a>
  </script>

  <!-- slidebar setup -->
  <script type="text/template" id="slidebar-view">
    <!-- This is a collapsable menu that contains all the options a user can do -->
    <div id="menu" class="sb-disable-close">
      <ul id="collapsed-list">
        <li id="default" class="list-item-collapse collapsed">Create Card
          <ul class="col-list">
            <div id="card"></div>
          </ul>
        </li>
        <li id="search-default" class="list-item-collapse collapsed">Search
          <ul class="col-list">
            <div id="search"></div>
          </ul>
        </li> 
        <li class="list-item-collapse collapsed">Following
          <ul class="col-list">
            <div id="following"></div>
          </ul>
        </li> 
        <li class="list-item-collapse collapsed">Followers
          <ul class="col-list">
            <div id="followers"></div>
          </ul>
        </li>
        <li class="list-item-collapse collapsed">Messages
          <ul class="col-list">
            <div id="messages"></div>
          </ul>
        </li> 
        <li class="list-item-collapse collapsed">Notifications
          <ul class="col-list">
            <div id="notifications"></div>
          </ul>
        </li> 
        <li class="list-item-collapse collapsed">My Account
          <ul class="col-list">
            <div id="my-account"></div>
          </ul>
        </li> <!--
        <li class="list-item-collapse collapsed">My Preferences
          <ul class="col-list">
            <div id="my-preferences"></div>
          </ul>
        </li> -->
      </ul>
    </div>
  </script>

  <!-- Contains navicons used to expand the slidebars -->
  <script type="text/template" id="toggle-view">
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
  </script>

  <script type="text/template" id="login_header">
    <span class="info">Already have an account&#63;</span>
    <span class="info"><button id="login-button" class="btn btn-success">Login</button></span>
  </script>

  <script type="text/template" id="logout_header">
    <span class="info">Hello, <a id="user-profile-name"><%= firstName || "User" %></a></span>
    <span class="avatar"><a id="user-profile-avatar"><img src="data:image/png;base64,<%= avatar %>" id="avatar"></a></span>
    <span class="info"><a id="logout" class="btn btn-success">Logout</a></span>
  </script>

  <script type="text/template" id="profile_view">
    <div id="profile-wrapper">
      <div id="user-profile">
        <!-- PROFILE PICTURE WILL GO HERE SOMEWHERE -->
        <span class="avatar"><img src="data:image/png;base64,<%= avatar %>" id="avatar_profile"></span>
        <h2><%= firstName %> <%= lastName %> <span id="user-role"><%= role %></span>
          <button id="follow-btn" class="btn">Follow <%= firstName %></button>
          <button id="update-btn" class='btn'>Update Account</button>
          <button id="change-role" class='btn'>Make Moderator</button>
          <button id="delete-user" class="btn">Delete User</button>
        </h4>
        <hr />
        <h4>Studies <%= major %> at <%= university %> | Year of <%= grad_year %></h4>
        <div><h4>Enrolled in:</h4><ul><%for (c in classes) {%>
		  	  <li><h5><%=classes[c]%></h5></li>
          <%}%>
          </ul>
        </div>
        <h4>About <%= firstName %> </h4>
        <h5><%= bio %> </h5>
      </div>
      <br />
      <h4 id='end-of-profile'>Here is what <%= firstName %> has shared with <%= university %></h4>
    </div>
  </script>

	<!-- This template handles the first stage of creating an account -->
  <script type="text/template" id="create-form">
    <div class="container-wrapper container-wrapper-width">
      <h1 class="container-wrapper-width">Create account</h1>
      <form role="form" action="" id="create" class="container-wrapper-width">
        <div class="form-group">
          <label for="firstname" class="container-wrapper-width">First Name</label>
          <input type="text" id="firstname" class="form-control">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="university">University</label>
          <input id="univ" list="university" class="form-control">
          <datalist id="university">
            <option value="UMBC">
          </datalist>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="passwordConfirm">Confirm Password</label>
          <input type="password" id="passwordConfirm" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign up for Dek&#363</button>
      </form>
    </div>
  </script>

	<!-- This next view gets more specific user account information -->
  <script type="text/template" id="info-form">
    <div class="container-wrapper container-wrapper-width">
      <h1 class="container-wrapper-width">Complete your Profile</h1>
      <form role="form" action="" id="info" class="container-wrapper-width">
      <div class="form-group">
        <label for="year">Graduation Year</label>
        <input list="year" id="grad-year" class="form-control">
        <datalist id="year">
          <option value="2014">
          <option value="2015">
          <option value="2016">
        </datalist>
      </div>

      <div class="form-group">
        <label for="major">Major</label>
        <input list="major" id="major-list" class="form-control">
        <datalist id="major">
          <option value="Computer Science">
          <option value="Computer Engineering">
          <option value="Economics">
          <option value="Mathematics">
        </datalist>
      </div>

      <div class="form-group">
        <label for="classes">Classes</label>
        <input type="text" id="classes" class="form-control tagit-hidden-field">
      </div>

      <div class="form-group">
        <label for="bio">Biography</label>
        <textarea id="bio" class="form-control"></textarea>
      </div>
	  
	  	<!-- At this point the user's profile would be sent to the server and saved -->
      <button id="submit" class="btn btn-success">Done</button>
    </div>
  </script>

  <!-- This will let the user login. This is defaulted after the account is created -->
	<script type="text/template" id="login-form">
    <div class="container-wrapper container-wrapper-width">
  		<h1 class="container-wrapper-width">Login</h1>
  		<form role="form" action="login" method="post" id="login" class="container-wrapper-width">
  			<div class="form-group">
  				<label for="lemail">E-mail</label>
  				<input type="text" name='username' id="lemail" class="form-control">
  			</div>
  			<div class="form-group">
  				<label for="lpassword">Password</label>
  				<input type="password" name='password' id="lpassword" class="form-control">
  			</div>
  			<!-- this button should send the username/password to the server for authentication -->
  			<button type="submit" class="btn btn-success" id="login-button">Login</button>
  
  			<!-- This lets the user reset their password -->
  			<button type="reset" class="btn btn-success" id="reset-pass">Forgot your password?</button>
  		</form>
    </div>
	</script>

  <!-- This will force the user to update password after a reset -->
	<script type="text/template" id="update-password-form">
    <div class="container-wrapper container-wrapper-width">
  		<h1 class="container-wrapper-width">Please update your password.</h1>
  		<form role="form" action="login" method="post" id="new_password" class="container-wrapper-width">
  			<div class="form-group">
  				<label for="password">Enter a new password</label>
  				<input type="password" name='password' id="password" class="form-control">
  			</div>
  			<div class="form-group">
  				<label for="confirm-password">Confirm your password</label>
  				<input type="password" name='confirm-password' id="confirm-password" class="form-control">
  			</div>
  			<button type="submit" class="btn btn-success" id="update-password-button">Change my password</button>
  		</form>
    </div>
	</script>

	<!-- this view handles password reseting -->
	<script type="text/template" id="password-reset-form">
    <div class="container-wrapper container-wrapper-width">
		  <h1 class="container-wrapper-width">Reset my password</h1>
		  <form role="form" action="" id="password-reset" class="container-wrapper-width">
		  	<div class="form-group">
		  		<label for="remail">Enter your e-mail</label>
		  		<input type="text" id="remail" class="form-control">
		  	</div>
		  	<button id="reset-password-button" type="submit" class="btn btn-success">Send me my new password</button>
		  </form>
    </div>
	</script>


  <!-- This view contains the layout for the card -->
  <script type="text/template" id="card-template">
    <!-- due to floating point numbers being weird, set the background of container to last tag -->
		<div id="card-tags" class="<%=tags[tags.length-1]%>">
      <% for (var tag in tags) { %>
        <div class="card-tag <%=tags[tag]%>" style="width: <%=100.0/tags.length%>%" title="<%=tags[tag]%>"></div>
      <% } %>
    </div>
    <!-- <span class="avatar"><a id="card-author-avatar"><img src="data:image/png;base64,<%= avatar %>" id="avatar-card"></a></span> -->
    <div id="card-author"><a id="car-auth"><%= authorFirst %> <%=authorLast %></a></div>
		<div id="card-content"><%= content %></div>
    <div id="card-category"><%= category %></div>
  </script>


  <!-- This view will inspect the card, more details -->
  <script type="text/template" id="inspect-template">
    <!-- due to floating point numbers being weird, set the background of container to last tag -->
		<div id="card-tags" class="<%=tags[0]%>">
      <!-- Purely for appearance, the tags are in reverse order on a card flip -->
      <% for (var tag = tags.length-1; tag >= 0; tag--) { %>
        <div class="card-tag <%=tags[tag]%>" style="width: <%=100.0/tags.length%>%" title="<%=tags[tag]%>"></div>
      <% } %>
    </div>
    <div id="inspect-header">
      <a id="ins-auth"><%= authorFirst %> <%= authorLast %></a> @ <%= created_at %>
      <button id="flip-return" class="btn btn-success">Flip to front</button>
      <a id="delete-card" class="btn btn-success">Delete card</a>
    </div>
    <div id="inspect-content"><%= content %>
      <div id="card-category"><%= category %></div>
    </div>
    <div id="inspect-footer">
      <div id="inspect-marks" class="inspect-footer-elem">
        <button id="marks-btn" class="btn btn-success"><%= marks.length %> marks</button>
      </div>
      <div id="inspect-adds" class="inspect-footer-elem">
        <button id="adds-btn" class="btn btn-success"><%= adds.length %> adds</button>
      </div>
      <div id="inspect-comments" class="inspect-footer-elem">
        <button id="comment-btn" class="btn btn-success"><%= comments.length %> Comments</button>
      </div>
      <div id="inspect-joker" class="inspect-footer-elem">
        <button id="report-joker" class="btn btn-success">Joker</button>
      </div>
      <div id="inspect-hide" class="inspect-footer-elem">
        <button id="hide-card" class="btn btn-success">Hide</button>
      </div>
    </div>
    <div id="inspect-comment">
      <div id="inspect-comment-list">
        <% for (var comment in comments) { %>
          <div class="card-comment">
            <a id="user-profile-comment" name=<%=comments[comment].author_first%>/<%=comments[comment].author_last%>/<%=comments[comment].author_id%>><%=comments[comment].author_first%> <%=comments[comment].author_last%></a>: <%=comments[comment].content%> <a id="delete-comment" name=<%=comments[comment].id%>>x</a>
          </div>
        <% } %>
      </div>
      <div id="inspect-comment-create">
				<input type="text" id="create-comment" placeholder="Comment on this card..." class="form-control">
        <button id="post-comment" class="btn">Comment</button>
      </div>
    </div>
  </script>

	<!-- This view handles the hand view -->
	<script type="text/template" id="hand-view">
	</script>

	<!-- This is the view for creating a card -->
	<script type="text/template" id="card-create-view">
		<form class="card-form" role="form" action="#">
			<div class="form-group">
				<input list="categories" class="create-card" id="category" class="form-control" placeholder="Select a category">
				<datalist id="categories">
					<option value="Administrative">
					<option value="Club">
					<option value="School Event">
					<option value="Other">
				</datalist>
			</div>
			<div class="form-group">
				<textarea id="content" name="card" rows="5" class='create-card' placeholder="Share with your university" maxlength="140"></textarea>
			</div>
      <div class="form-group">
        <input type="text" id="tags" class="create-card form-control" />
      </div>
  		<button id="add" class="btn">Add new posts</button>
		</form>
	</script>

	<!-- This is the view for search options -->
	<script type="text/template" id="search-view">
		<form class="search-form" role="form" action="#">
			<div class="form-group">
				<input type="text" id="s-tag" name="search-tags" placeholder="Search by tag">
        <button id="search-tag" class="btn">Search</button>
			</div>
			<div class="form-group">
				<input type="text" id="s-author" name="search-author" placeholder="Search by author">
        <button id="search-author" class="btn">Search</button>
			</div>
			<div class="form-group">
				<input list="categories" id="s-category" name="search-category" placeholder="Search by category">
			  	<datalist id="categories">
			  		<option value="Administrative">
			  		<option value="Club">
			  		<option value="School Event">
			  		<option value="Other">
			  	</datalist>
        <button id="search-category" class="btn">Search</button>
			</div>
      <div class="form-group">
        <button id="search-clear" class="btn">Clear Search</button><div id="filter"></div>
      </div>
      <div class="form-group">
        <p id="filter-by">No active search</p>
      </div>
		</form>
	</script>

	<!-- This is the view for messages -->
	<script type="text/template" id="message-view">
    <div id="msgs"></div>
	</script>

	<!-- This is the view for followers -->
	<script type="text/template" id="followers-view">
		<p>User will be able to see followers here</p>
	</script>

	<!-- This is the view for following -->
	<script type="text/template" id="following-view">
		<p>User will be able to see their followers</p>
	</script>

	<!-- This is the view for notifications -->
	<script type="text/template" id="notification-view">
    <div id="notifications-list">
      <% for (var notification = notifications.length-1; notification >= 0; notification--) { %>
        <div class="user-notification">
          <a id="user-profile-notification" name=<%=notifications[notification].from_first%>/<%=notifications[notification].from_last%>/<%=notifications[notification].from_id%>><%=notifications[notification].from_first%> <%=notifications[notification].from_last%></a> <%=notifications[notification].content%> your <a id="card-notification" name=<%=notifications[notification].card_id%>>card</a> <a id="delete-notification" name=<%=notifications[notification].id%>>x</a>
        <div>
      <%}%>
    </div>
	</script>

	<!-- This is the view for my account -->
	<script type="text/template" id="account-view">
    <span class='user-account'>
      <div id="user-name">User name: <%=firstName%> <%=lastName%></div>
      <div id="user-univ">University: <%=university%></div>
      <div id="user-major">Major: <%=major%></div>
      <div id="user-classes">Classes: <%for (i in classes) {%>
        <div class="user-class">&nbsp&nbsp<%= classes[i]%></div>
        <%}%>
      </div>
      <div id="user-grad">Graduation Year: <%=grad_year%></div>
      <div id="user-bio">Biography: <%=bio%></div>
    </span>
    <br />
    <button id="update-account" class="btn">Update your account</button>
 	</script>

	<!-- This is the view for preferences -->
	<script type="text/template" id="preferences-view">
		<p>User will be able to see their preferences</p>
	</script>

  <!-- This is the region for updating a user's account -->
  <script type="text/template" id="update-view">
    <div id="update-section">
      <h2>Update Account Information</h2>
      <h4><a id="edit">Edit</a>
        <span id='editSC'><a id="save">Save</a> | <a id="cancel">Cancel</a></span> | <a id="delete">Delete Account</a></h4>
      <hr />
      <br />
      <table>
        <tr>
          <td>First Name</td>
          <td><span id="fname" class='current-data'><%= firstName %></span>
            <span id="fname-e" class='edit-data'><input type="text" placeholder="Your new first name..." id="fname-input" value="<%=firstName%>">
            </span>
          </td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><span id="lname" class='current-data'><%= lastName %></span>
            <span id="lname-e" class='edit-data'><input type="text" placeholder="Your new last name..." id="lname-input" value="<%=lastName%>">
            </span>
          </td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td><span id="email" class='current-data'><%= email %></span>
            <span id="email-e" class='edit-data'><input type="text" placeholder="Your new e-mail..." id="email-input" value="<%=email%>">
            </span>
          </td>
        </tr>
        <tr>
          <td>Password</td>
          <td><span id="password" class='current-data'>Not shown</span>
            <span id="password-e" class='edit-data'>
              <input type="password" placeholder="Enter new password..." id="password-input">
              <input type="password" placeholder="Confirm new password..." id="password-confirm">
            </span>
          </td>
        </tr>
        <tr>
          <td>Major</td>
          <td><span id="major" class='current-data'><%= major %></span>
            <span id="major-e" class='edit-data'><input list="major-list" placeholder="Your new major..." id="major-input" value="<%=major%>">
              <datalist id="major-list">
                <option value="Computer Science">
                <option value="Computer Engineering">
                <option value="Economics">
                <option value="Mathematics">
              </datalist>
            </span>
          </td>
        </tr>
        <tr>
          <td>Classes</td> 
          <td><span id="classes" class='current-data'> <%for (i in classes) {%>
            <div class="user-class"><%= classes[i]%></div>
            <%}%>
            </span>
            <span id="classes-e" class='edit-data'><input type="text" id="classes-input" />
            </span>
          </td>
        </tr>
        <tr>
          <td>Graduation Year</td>
          <td><span id="year" class='current-data'><%= grad_year %></span>
            <span id="year-e" class='edit-data'><input list="year-list" placeholder="Your new grad year..." id="year-input" value="<%=grad_year%>">
              <datalist id="year-list">
                <option value="2014">
                <option value="2015">
                <option value="2016">
              </datalist>
            </span>
          </td>
        </tr>
        <tr>
          <td>Biography</td>
          <td><span id="bio" class='current-data'><%= bio %></span>
            <span id="bio-e" class='edit-data'><textarea rows='5' placeholder="Your new bio..." id="bio-input" value="<%= bio %>">
            <span id="bio-e" class='edit-data'><textarea placeholder="Your new bio..." id="bio-input" value="<%= bio %>">
            </span>
          </td>
        </tr>
      </table>
    </div>
  </script>

  <!-- NotFound -->
  <script type="text/template" id="not-found">
    <h2 id="not_found">We're sorry! It looks like that page doesn't exist!</h2>
  </script>

  <!-- Script declarations at base of page so everything else loads first. -->
  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/jquery-ui.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/masonry.pkgd.min.js"></script>
  <script src="js/lib/slidebars.min.js"></script>
  <script src="js/lib/jquery.flippy.min.js"></script>
  <script src="js/lib/bootbox.min.js"></script>
  <script src="js/lib/tag-it.min.js"></script>
  <script src="js/views/create_view.js"></script>
  <script src="js/views/info_view.js"></script>
  <script src="js/views/login_view.js"></script>
  <script src="js/views/password_reset_view.js"></script>
  <script src="js/views/new_password_view.js"></script>
  <script src="js/views/hand_view.js"></script>
  <script src="js/views/slidebar_view.js"></script>
  <script src="js/views/create_card_view.js"></script>
  <script src="js/views/search_view.js"></script>
  <script src="js/views/followers_view.js"></script>
  <script src="js/views/following_view.js"></script>
  <script src="js/views/message_view.js"></script>
  <script src="js/views/notification_view.js"></script>
  <script src="js/views/account_view.js"></script>
  <script src="js/views/header_view.js"></script>
  <script src="js/views/preferences_view.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/views/toggle_view.js"></script>
  <script src="js/views/icon_view.js"></script>
  <script src="js/views/profile_view.js"></script>
  <script src="js/views/update_account_view.js"></script>
  <script src="js/views/not_found_view.js"></script>
  <script src="js/models/user.js"></script>
  <script src="js/models/card.js"></script>
  <script src="js/collections/deck.js"></script>
  <script src="js/views/card_view.js"></script>
  <script src="js/router.js"></script>
  <script src="js/app.js"></script>

  </body>
</html>
