html {
    max-width: 1200px;
    font-size: 16px;
    height: 100%;
    margin: 0 auto;
    background: #666;
}

body {
    width: 100%;
    margin: 0 auto;
    background: #666;
}

header {
    clear: both;
	margin-bottom: 0px;
}

input {
    border-radius: 5px;
    text-align: center;
}

#card-tags {
	width: 100%;
	height: 30px;
	top: 0;
	position: absolute;
	left: 0;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	font-size: 10pt;
}

#card-content {
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14pt;
}

#card-category {
	height: 30px;
	bottom: 0;
	position: absolute;
	right: 0;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 12pt;
}

.card {
	background: #fff;
	padding: 15px;
	margin: 15px;
	border-radius: 7px;
	width: 240px;
	height: 360px;
}

.card.small { width: 160px; height: 240px;}
.card.medium { width: 200px; height: 300px;}
.card.large {
  width: 240px;
  height: 360px;
}

.clear {
    clear: both;
}

#sb-site {
	overflow-y: scroll;
}

#slidebar-right {
	padding-bottom: 51px;
}

#container {
    margin-top: 50px;
    padding-top: 50px;
}

#tab-container {
	right: 0px;
	position: fixed;
	float: right;
	top: 45%;
}

#menu-tab {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	width: 30px;
	height: 90px;
	background: #222;
	color: #666;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-size: 16pt;
}

#logout {
	text-decoration: none;
}

.info {
	color: #999;
	size: 16pt;
	margin-right: 10px;
}

#collapsed-list {
	width:100%;
	float: left;
	padding: 0px;
}

#collapsed-list ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	cursor: pointer;
	font-size: 12pt;
	color: #000;
}

#collapsed-list li {
	padding: 0px;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 10px;
	font-size: 14pt;
	color: #fff;
	margin-top: 0px;
	border-top: 2px solid;
	border-color: #333;
}

#collapsed-list .collapsed {

}

#collapsed-list .expanded {

}

@media screen and (max-width: 719px) {
    .post.w1 { width: 60px; }
    .post.w2 { width: 120px; }
    .post.w3 { width: 180px; }

    .post.h1 { height: 60px };
    .post.h2 { height: 120px; }
    .post.h3 { height: 180px; }
}
