<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flrgrbrgr Mockup</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Flrgrbrbgr</a>
      </div>
      <div class="collapse navbar-collapse">
      <!-- Have login form in the header. If user is logged in, show some account
      info instead. -->
      <form class="navbar-form navbar-right" role="form" action="#">
        <div class="form-group">
          <input type="text" placeholder="Username"
          class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Login</button>
        <button id="addStuff" class="btn">Add new posts</button>
      </form>
    </div>
  </header>
  <div id="container" class="container">
  </div>
  <!-- this needs to infinite scroll, so having a footer is stupid. Looking at
       you, Tumblr! -->

  <!-- Script declarations at base of page so everything else loads first. -->
  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/masonry.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/chance.js')}}"></script>
  <script src="{{url_for('static',filename='js/flow.js')}}"></script>
  </body>
</html>
